<tr>
  <td class="w-100 ph4 pv2">
    <table>
      <tr>
        <td class="pb2">
          <h3>((i18n.order.order))</h3>
        </td>
      </tr>
      {{#each items}}
        <tr class="bb bt b--white">
          <td class="v-top pv2 w3"><img class="itemsImageSize mw-none" alt="" src="{{imageUrl}}" /></td>
          <td class="v-top pa2">
            <div class="f6-l lh-copy pt1 black">{{name}}</div>
            <div class="f6-l lh-copy pt1 black">
              ((i18n.package.seller))
              {{#each ../sellers}}
                {{name}}
              {{/each}}
            </div>
            <div class="b f6-l pt1" style="color: #68478D">
              {{#if sellingPrice}}
                ((i18n.common.currency)) {{formatCurrency sellingPrice}}
              {{else}}
                ((i18n.common.free))
              {{/if}}
            </div>
          </td>
        </tr>
        {{#each bundleItems}}
          {{#if name}}
            <tr class="bb b--white">
              <td class="v-top pv2 w3"><img class="itemsImageSize mw-none" alt="" src="{{imageUrl}}" /></td>
              <td class="v-top pv2">
                <div class="f6-l lh-copy pt1 black">{{name}}</div>
                <div class="b f6-l pt1" style="color: #68478D">
                  {{#if price}}
                    ((i18n.common.currency)) {{formatCurrency price}}
                  {{else}}
                    ((i18n.common.free))
                  {{/if}}
                </div>
              </td>
            </tr>
          {{/if}}
        {{/each}}
      {{/each}}
    </table>
  </td>
</tr>